# Philosophy

* Beautiful is better than ugly
* Explicit is better than implicit
* Simple is better than complex
* Complex is better than complicated
* Readabilit counts

# Terminology

* [Big O Notation](https://www.youtube.com/watch?v=D6xkbGLQesk): Time it takes to run your function.

* Read-Eval-Print-Loop (REPL): Python is a interactive top-level language using interactive shell(Unix/Linux). It read user input, evaluate code, print results, and loop back to step 1.

# Python Coding Questions

1. How do you debug a Python program?
2. What is <Yield> Keyword in Python?
3. How to convert a list into a string?
4. How to convert a list into a tuple?
5. How to convert a list into a set?
6. How to count the occurrences of a particular element in the list?
7. What is NumPy array?
8. How can you create Empty NumPy Array In Python?
9. What is a negative index in Python?
10. How do you Concatenate Strings in Python?

# Types of Data

* bool: Boolean
* int: integer
* float: floating-point number
* list: mutable sequence of objects
* tuple: immutable sequence of objects
* str: character
* set: unordered set of distinct objects
* frozenset: immutable form of set class
* dict: associative mapping (aka dictionary)

# Python Built-in Data Types

* Numeric: int, float, complex
* Binary: byte, byearray
* True/False: bool
* Text: string
* Collections: list, tuple, set, dict, range

# String

In [2]:
aString = "hello Python 123!"

## String Methods

In [3]:
aString.isalpha()

False

In [4]:
aString.isdigit()

False

In [5]:
aString.replace('1','3' )

'hello Python 323!'

In [13]:
# String Formating
# >> hello PythonBo, I am HAL

name = "Python"
machine = "HAL"

print('hello {0}, I am {1}'.format(name,machine))

hello PythonBo, I am HAL

In [17]:
print(f'Hello I am {name}. I am from {machine}.')

Hello I am PythonBo. I am from HAL.

# Boolean

In [48]:
# Boolean & None

python_course = True
java_course = False
aliens_found = None

print(int(python_course)) #. 1 == True
print(str(python_course))

print(aliens_found) # doesn't exist

1
True
None

In [3]:
# if-else statment only execute True condition

a = True
if a != True: # a == false, which is false
    print('false, will not execute')

b = False
if b == True:
    print('b = True, will not execute')

print(b == False)

True

In [54]:
a = False
# print(a)

if a:
    print('a is True')
    
else:
    print('a is False')

a is False

In [70]:
def foos(num):

    if num < 5:
        num = 0 
        
    elif num < 10: 
        num = 5
    else:
        num = 999
    print(num)
    
foos(3) ## once the first match is found, later conditions will be skipped
foos(6)

0
5

In [63]:
True is True and True is False

False

In [64]:
True is True or True is False

True

In [65]:
1 is not 1

False

In [67]:
2 is not 3 and 5 is not 5   ### True and False

False

# Operators

### Logical
* not
* and
* or
 
### Equality ==> Boolean
* is
* is not
* ==
* !=
 
### Comparison
* < , >
* ≤ , ≥

### Arithmetic
+-*/ , // , %

### Sequence
* s[index]
* s[start:stop]
* s[start:stop:step]

In [4]:
print(5//2)## int division => 2

print(5%4) ## modulo => 1


# string operations
first = "one"
second = "two"
combined = first + second
print(combined) # => onetwo

2
1
onetwo

## Sequence Operator

In [24]:
# sequence Operators

alist = ['banana', 'apple', 'pineapple']
blist = ['banana', 'apple', 'pineapple']

aPlusb = alist+blist ## =>['banana', 'apple', 'pineapple', 'banana', 'apple', 'pineapple']


for i in range(len(alist)):
    print(alist[i])

listComprehension = [item for item in alist]
print(listComprehension)

chili is not in alist
banana
apple
pineapple
['banana', 'apple', 'pineapple']

In [31]:
# k * s

k = 3
kaList = k*alist

print(kaList)

['banana', 'apple', 'pineapple', 'banana', 'apple', 'pineapple', 'banana', 'apple', 'pineapple']

In [30]:
# containment check ==> val in s
# non-containment check ==> val not in s

if 'banana' in alist:
    print('banana is in alist')

if 'chilli' not in alist:
    print('chilli is not in the list')

banana is in alist
chilli is not in the list

In [43]:
# range(start, stop, step)

# print 1-10

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# if Statement

* Only True condition will be execute.
* Each if statement will be checked.
* If-else statements stop checking when a match is found.

In [100]:
if False:
    print('false. will not execute.')
    
if True:
    print('True')
elif True:
    print('Also True')
    
if True:
    print('Another True')

True
Another True

In [57]:
number = 0
text = "Python"
    
if number:
    print(f'val number is defined. number is {number}')
    print(type(number))
    
if text:
    print(f'val text is defined. text is {text}')
    print(type(text))

val text is defined. text is Python
<class 'str'>

In [12]:
# Boolean & None

apple = True
aliens = None

print(type(aliens))

if not apple: # if apple != True
    print('not apple')
if apple:
    print('apple')

if aliens: # do nothing if aliens = None
    print('nothing wil be printed.')
if not aliens:
    print('aliens is not None.')

<class 'NoneType'>
apple
aliens is not None.

In [74]:
python_course = False 

if not python_course: ## only being execute when the if statement is True.
    print("Python_course is True.")
else:
    print(f'python_course is False. Will not execute.')

Python_course is True.

In [14]:
number = 7

if number == 5:
   print("This will not execute")
else:
    print('number is not 5')

number is not 5

In [18]:
number2 = 5

if number2 != 7: ## False. therefore it won't be executed.
   print("This will not execute. number2 = 7")
else:
    print('number is 7')

This will not execute. number2 = 7

## Multiple if conditions

In [19]:
number = 3
python_course = True

if number == 3 and python_course:
    print("This will execute")
    
if number == 17 or python_course: 
    print("This will also execute")

This will execute
This will also execute

## Ternary if

In [21]:
a = 1
b = 2

if a > b or "smaller": ## in if statement, "string" always return True.
    print("This will also execute")

This will also execute

# while & for Loops
* while a condition is True:
* for element in an iterable:

In [23]:
# print 0-10 use while 

i = 0
while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
# print 0-10 use for
for i in range(0,11): #. range(start, end, step)
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
# sum from 0 to 10 using while

sum = 0
x = 0
while x <= 10:
    sum += x
    x += 1
    
    print(sum)

0
1
3
6
10
15
21
28
36
45
55

In [14]:
# sum from 0 to 10 using for

sum = 0
for n in range(0,11):
    sum += n
print(sum)

55

## break

In [122]:
# VIP
# What's the output?

for letter in 'python':
    if letter == 'h':
        break
    print(f'current letter is {letter}')
print()
print(f'current letter is {letter}')

current letter is p
current letter is y
current letter is t

current letter is h

In [129]:
# Ex1. print first 10 from 20-50

i = 20
while i <= 50:
    if i < 30:
        print(i)
    else:
        break
    i += 1

20
21
22
23
24
25
26
27
28
29

In [128]:
# Ex2. print first 10 among 0-100

x = 0
while True:
    if x >= 10: 
        break
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [130]:
# Ex3. print fruit list until 'mango'

fruit = ["apple", "pineapple", "mango", "banana", "kiwi"]

for i in fruit:
    if i == 'mango':
        break
    print(i)

apple
pineapple