# [Set](https://www.w3schools.com/python/python_sets.asp)
Sets are collection of elements in Python
* mutable
* unordered
* no index
* distinct (eliminate duplicate entries)
* very fast membership testing: O(1)
* enclosed in { } and comma separated

In [36]:
aSetList = {'a', 'a', 'b','c'}
print(aSetList)

{'b', 'a', 'c'}

In [37]:
# dictionary => set of tuples

d = {'a': 3, 'b':2, 'a':6, 'c':2}

print(set(d))
print(set(d.items()))

{'b', 'a', 'c'}
{('b', 2), ('c', 2), ('a', 6)}

In [38]:
# Examples

empty_dict = {} # <class 'dict'>
d = {'a': 3, 'b':2, 'a':6, 'c':2}

empty_set = set()
empty_set = set(d)

number_set = set([1, 3, 5, 7, 9, 3, 1, 8])
mixed_set = set([1, 3.5, "abc"])
fruit_set = set([ "apple", "banana", "orange", "plum", "banana"])

In [39]:
print(d)
print(number_set)
print(mixed_set) #. remove redundant values
print(fruit_set)

{'a': 6, 'b': 2, 'c': 2}
{1, 3, 5, 7, 8, 9}
{1, 3.5, 'abc'}
{'orange', 'apple', 'banana', 'plum'}

### Combine two sets

In [113]:
# VIP. unite two sets ==> |
number_set = set([1, 3, 5, 7, 9, 3, 1, 8])
fruit_set = set([ "apple", 3,"banana", "orange", "plum", "banana"])
print(number_set | fruit_set)   ###. union
print(number_set & fruit_set)   ###. intersaction


# combine two lists ==> +
number = [1, 3, 5, 7, 9, 3, 1, 8]
fruit = [ "apple", "banana", "orange", "plum", "banana"]
print(set(number + fruit))

{1, 'banana', 3, 5, 7, 8, 9, 'plum', 'orange', 'apple'}
{3}
{1, 'banana', 3, 5, 7, 8, 9, 'plum', 'orange', 'apple'}

In [103]:
print(number_set and fruit_set)
print(number_set or fruit_set)

{'orange', 'apple', 'banana', 'plum'}
{1, 3, 5, 7, 8, 9}

In [66]:
lista = ['a','4',3,534,4534,'b','a','b']
print(lista)

setlista = set(lista)
print(setlista)

['a', '4', 3, 534, 4534, 'b', 'a', 'b']
{3, 'a', 'b', 4534, 534, '4'}

## Methods: set and list
- add
- append
- extend
- discard
- remove
- pop
- clear

In [95]:
# set and list

aSet = {2,4,6}
aList = ['a','b']

In [101]:
# add a value to a set
aSet.add(5)

# add a value or a set of values to a list
aList.append(5)
aList.extend([1,3, 'x'])

# aSet.remove(2) # KeyError: 2
aSet.discard(2)

# aList.remove('l')

aSet.pop() #random discard the last one
aList.pop(0) # remove first index value

'a'

In [ ]:
aSet.clear()
aList.clear()

In [79]:
print(aSet)
print(aList)

{'o', 'l', 'e'}
['l', 'l', 'o', 5, 1, 3, 'x', 5, 1, 3, 'x']

### Set Operations
* Use set operations to remove redundancy

In [116]:
# VIP

a = set("arizona")
b = set("arkansas")

print(a-b) # only keep <= a
# print(a+b) # TypeError ==> + works for lists

print(a|b) #  union
print(a & b) # intersaction

{'i', 'o', 'z'}
{'r', 'a', 'n', 'i', 'k', 'z', 's', 'o'}
{'n', 'r', 'a'}

In [118]:
# list concatenation

c = list("arizona")
d = list("arkansas")

print(c+d)

['a', 'r', 'i', 'z', 'o', 'n', 'a', 'a', 'r', 'k', 'a', 'n', 's', 'a', 's']