## <a href="https://www.w3schools.com/python/python_tuples.asp">Tuples</a> 
Tuples are sequences of elements in Python
* immutable
* sorted
* enclosed in ( ) and comma separated
* store collections of heterogenous data (struct or SQL like objects)
* can be used as dictionary keys (immutable), but lists cannot (mutable)

### Create a tuple

In [7]:
# a single item must be followed by a comma, 
# otherwise it becomes a string type

tuple_name = ('item1',)
print(type(tuple_name))

str_name = ('item1')
print(type(str_name))

<class 'tuple'>
<class 'str'>

In [ ]:
mpty_tuple = ( )
number_tuple = ( 1, 3, 5, 7, 9)
mixed_tuple = ( 1, 3.5, "abc")
fruit_tuple = ("apple", "banana", "orange", "plum")

### Convert a list to tuple

In [15]:
fruit = ['apple','banana','orange']
tuple_fruit = tuple(fruit)

print(type(fruit))
print(type(tuple_fruit))

<class 'list'>
<class 'tuple'>

### Accessing

In [13]:
mpty_tuple = ( )
number_tuple = ( 1, 3, 5, 7, 9)
mixed_tuple = ( 1, 3.5, "abc")
fruit_tuple = ("apple", "banana", "orange", "plum")

In [20]:
print(fruit_tuple[1])

banana

In [16]:
number_tuple[0] =2 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called. <p>

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
# Change 'banana' to 'kiwi' in a Tuple x.

x = ("apple", "banana", "cherry")

y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [6]:
# Change 'b' to 'x' in a Tuple.

a = 'a', 'b','c'

print(type(a))
b = list(a)
b[1] = 'x'
a = tuple(b)
print(a)

<class 'tuple'>
('a', 'x', 'c')

In [63]:
# exercise. REPLACE 'banana' to 'apple'
fname = ("apple", "banana", "cherry", "banana")

f_list = list(fname)

for index in range(0, len(f_list)):
    if f_list[index] == 'banana':
        f_list[index] = 'apple'
        
fname = tuple(f_list)
print(fname)

('apple', 'apple', 'cherry', 'apple')

### Data Packing & Unpacking
* used as dictionary keys (immutable), but lists cannot (mutable)

In [16]:
t = 100, 200, 300, 400, "banana" # data packing (values)
print(t)
print(type(t))
print(t[0])

(100, 200, 300, 400, 'banana')
<class 'tuple'>
100

In [17]:
a, b, c, d, e = t # data unpacking (keys)

In [18]:
print(type(t))

<class 'tuple'>

In [19]:
print(t)

(100, 200, 300, 400, 'banana')

In [23]:
print(a)

100

In [15]:
print(t[0])

100

In [13]:
t[0]=50 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [78]:
r = 'w', 3, 2, 5 # values
a, b, c, d = r # keys


print(a)
print(type(a))
print(c)

print(r[1])
print(b)

w
<class 'str'>
2
3
3